@model AppointmentsListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Appointments</h2>

<hr />

<div class="alert alert-warning" role="alert">
    <strong>Pending</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == AppointmentStatus.Pending)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Review", "Review", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }

</table>

<hr />

<div class="alert alert-success" role="alert">
    <strong>Approved</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == AppointmentStatus.Approved)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Review", "Review", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }

</table>

<hr />

<div class="alert alert-danger" role="alert">
    <strong>Declined</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Patient
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == AppointmentStatus.Declined)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Review", "Review", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }
</table>