@model PatientsRegistry.ViewModels.Doctor.AppointmentReview

@{
    ViewBag.Title = "Review";
}

<h2>Review</h2>

<h3>Approve or decline</h3>
<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Approve" value="Approve" class="btn btn-success" /> <input type="submit" name="Decline" value="Decline" class="btn btn-danger" />
            </div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    }
</div>
