@model AppointmentsListVM

@{
    ViewBag.Title = "Appointments";
}

<h2>Appointments</h2>

<p>
    @Html.ActionLink("Request New", "Request", null, new { @class = "btn btn-primary" })
</p>

<hr />

<div class="alert alert-warning" role="alert">
    <strong>Pending</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == StatusEnum.Pending)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }
</table>

<hr />
<div class="alert alert-success" role="alert">
    <strong>Approved</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == StatusEnum.Approved)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }
</table>

<hr />

<div class="alert alert-danger" role="alert">
    <strong>Unapproved</strong>
</div>
<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Doctor
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (Appointment item in Model.Appointments)
    {
        if (item.Status == StatusEnum.Unapproved)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Reschedule", "Reschedule", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    }
</table>